*{
    background-color: #aaa;
}

.conteiner404{
    border: solid red 1px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    overflow: hidden;
}

.lotifile{
    height: 500px;
    width: 500px;
}