<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Packs, Kits, Promos, Packs previa, Packs de bebida, Promos de escabio, Promos de bebidas, Combos, Combos de bebidas, Escabio Packs, mezcla">
    <meta name="description" content="Prepara tu previa al mejor precio. Bebidas alcoholicas con su determinado acompañamiento. Packs/Promos con descuento">
    <meta name="author" content="Juan Lozano">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/estilos.css">

    <title>Packs de bebidas | La Godd</title>

</head>
<body>
    <div class="container-fluid">
        <!-- Header superior -->
        <div class="row">
            <!-- Logo y titulo -->
            <div class="col-md-3 logo">
                <img src="" alt="">
                <a href="../index.html" class="link-inicio">
                    <div class="logo__h">
                        <h1>Packs</h1>
                        <h2 class="sub_h2">ALMACEN DE BEBIDAS</h2>
                    </div>
                </a>
            </div>
        <!-- Buscador -->
        <div class="col-md-7 buscador">
            <input type="search" name="" id="barraBuscadora" placeholder="¿Que estas buscando?">
        </div>
            <!-- Botones -->
            <div class="col-md-1 botones">
                <input id="ingresar" type="button" value="Ingresar">
            </div>
            <div class="col-md-1 botones">
                <input id="registrate" type="button" value="Registrate">
            </div>
        </div>

        <!-- Header inferior-->
        <header>
            <div class="row">
                <!-- MENU y combinacion de logo -->
                <div class="col-md-12 menu">
                    <nav class="navbar navbar-expand-lg menu"> <!-- los navbar necesitan declararse navbar + los tamaños que usare + un color scheme -->
                        <div class="container-fluid">
        
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span> <img src="../img/icono-responsive.png" alt="icono-responsive.png"></span> <!-- el navbar-toggler es para usar el elemento de colapso ya ca puse mi imagen -->
                            </button>
        
                            <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- el collapse navbar colapse es para agrupar y ocultar el contenido de la barra de nav cuando haya determinado breackpoint -->
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 barraSupConteiner justify-content-around w-100">
                                    <li class="nav-item"> <!-- nav item, es el item del nav -->
                                        <a class="nav-link active barraSuperior" aria-current="page" href="../index.html">INICIO</a>
                                    </li>
        
                                    <li class="nav-item">
                                        <a class="nav-link barraSuperior" id="parada" href="../views/packs.html">PACKS</a>
                                    </li>
        
                                    <li class="nav-item">
                                        <a class="nav-link barraSuperior" href="../views/ofertas.html">OFERTAS</a>
                                    </li>
        
                                    <li class="nav-item">
                                        <a class="nav-link barraSuperior" href="../views/zonas_envio.html">ZONAS DE ENVIO</a>
                                    </li>
        
                                    <li class="nav-item">
                                        <a class="nav-link barraSuperior" href="../views/contacto.html">CONTACTO</a>
                                    </li>
                                </ul>
        
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!-- Nav Inf -->
        <div class="row">
            <div class="col-md-12 navInf"> <!--Aplico la metodologia BEM-->
                <nav class="navbar navbar-expand-lg navInf"> <!-- los navbar necesitan declararse navbar + los tamaños que usare + un color scheme -->
                    <div class="container-fluid">
        
                        <a class="navbar-brand barraSuperior" href="../index.html"></a> <!-- navbar brand significa el nombre de la empresa o la parte ppal que se vea cuando sea mobile. Si yo saco el navbar brand la hamburguesa me aparecra a la izq -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupported" aria-controls="navbarSupported" aria-expanded="false" aria-label="Toggle navigation">
                            <span> <img class="icono_menu" src="../img/lista.svg" alt=""></span> <!-- el navbar-toggler es para usar el elemento de colapso ya ca puse mi imagen -->
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarSupported"> <!-- el collapse navbar colapse es para agrupar y ocultar el contenido de la barra de nav cuando haya determinado breackpoint -->
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 sectionSupConteinerCell justify-content-around w-100">
                                <li class="nav-item"> <!-- nav item, es el item del nav -->
                                    <a class="nav-link active navInf__sectionSupItems sectionSupItemsCell justify-content-center" aria-current="page" href="cerveza.html">CERVEZA</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link navInf__sectionSupItems sectionSupItemsCell justify-content-center" href="vinos.html">VINOS</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link navInf__sectionSupItems sectionSupItemsCell justify-content-center" href="vodka.html">VODKA</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link navInf__sectionSupItems sectionSupItemsCell justify-content-center" href="sin_alcohol.html">SIN ALCOHOL</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link navInf__sectionSupItems sectionSupItemsCell justify-content-center" href="otros.html">OTROS</a>
                                </li>
        
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Section -->
        <div class="row">
            <div class="col-md-12 packs-conteiner">
                <section>
                    <h3>PACKS</h3>
                    <div class="packs-cajas">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 packs-centrado">
                                <div class="card text-center packs-cajas__box1">
                                    <img src="../img/cooler-10cervezas.png" class="card-img-top" alt="cooler-10cervezas.png">
                                    <div class="card-body">
                                        <h5 class="card-title packs-cajas__box1--producto1P">$5000</h5>
                                        <p class="card-text packs-cajas__box1--promo-1">CONSERVADORA CORONA + 10 CERVEZAS DE <strong>REGALO</strong></p>
                                        <a href="#" class="btn violeta rounded-pill">Añadir al carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 packs-centrado">
                                <div class="card text-center packs-cajas__box1">
                                    <img src="../img/cooler-10cervezas.png" class="card-img-top" alt="cooler-10cervezas.png">
                                    <div class="card-body">
                                        <h5 class="card-title packs-cajas__box1--producto1P">$5000</h5>
                                        <p class="card-text packs-cajas__box1--promo-1">CONSERVADORA CORONA + 10 CERVEZAS DE <strong>REGALO</strong></p>
                                        <a href="#" class="btn violeta rounded-pill">Añadir al carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        
        <!-- FOOTER -->
        <div class="row">
            <!-- Redes -->
            <div class="col-md-2 redes">
                <footer>
                        <!--cada red social seria el ELEMENT-->
                        <img class="instagram" src="../img/icono-instagram.png" alt=""> <p class="redes__instagram">Instagram</p>
                        <img class="facebook" src="../img/icono-facebook.png" alt=""> <p class="redes__facebook">Facebook</p>
                        <img class="whatsapp" src="../img/icono-wpp.png" alt=""> <p class="redes__whatsapp">Whatsapp</p>
                </footer>
            </div>
            <!-- Copyright -->
            <div class="col-md-8 copyright">
                <footer>
                    <p class="copyright__parrafoFooter">Copyright © 2021 LaGodd. Todos los derechos reservados. BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de LaGodd. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Precios sujeto a cambios sin previo aviso.</p>
                </footer>
            </div>
            <!-- Pagina segura -->
            <div class="col-md-2 paginaSegura">
                <footer>
                    <img class="paginaSegura__check-logo" src="../img/check-logo.png" alt="check-logo.jpg">
                    <p class="paginaSegura__txt">Pagina <br>segura</p>
                </footer>
            </div>
        </div>
    </div>


    <!-- Link de JS bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

</body>
</html>