// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
$bcg-gris_hover: #d8d8d8;
// Border para probar
$border-rojo: solid 1px red;

/* estilos para pagina CERVEZA */
.cervezas-conteiner{
  color: $bcg-violeta;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: $bcg-grisFondo;


  h3{
      display: flex;
      justify-content: flex-start;
  }
}

// Cards de cerveza
.cervezas-cajas{
    margin-top: 1.5%;
    
  .cervezas-cajas__box1{
    background-color: #fff;
    border-radius: 30px;

    .img1{
        border-radius: 30px;
    }

    .cervezas-cajas__box1--producto1C{
        font-weight: bold;
        font-size: 130%;
    }

    .cervezas-cajas__box1--promo-1{
        color: $bcg-violeta;
    }
  }
}

/* ANIMACIONES SOBRE CERVEZA */
.cervezas-cajas .cervezas-cajas__box1:hover{
transform: scale(1.1);
}

// SOMBRA A LAS CAJAS
.cervezas-centrado{
    position: relative;
    z-index: 0;
}
.cervezas-cajas__box1::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 5px;
    background-color: $bcg-violeta;
    border-radius: 30px;
    filter: blur(10px);
    z-index: -1;
}

/*MEDIA para celular CERVEZAS*/
@media screen and (max-width: 767px){
  .cervezas-conteiner{
      max-width: 100%;
      padding: 2%;
  }

  .cervezas-cajas{
      padding: 2%;

      .cervezas-centrado{
          display: flex;
          justify-content: center;
      }

      .cervezas-cajas__box1{
          width: 60%;
          height: auto;
          margin: 2% 0%;
      }


  }

  .cervezas-cajas .cervezas-cajas__box1:hover{
      transform: none;
      background-color: $bcg-gris_hover;
  }

}

/*MEDIA para tablet CERVEZAS*/
@media screen and (min-width: 768px) and (max-width: 990px){
  .cervezas-conteiner{
      max-width: 100%;
      padding: 2%;
  }

  .cervezas-cajas{
      padding: 0%;

      .cervezas-centrado{
          display: flex;
          justify-content: center;
      }

      .cervezas-cajas__box1{
          width: 85%;
          height: auto;
          margin: 5%;
      }
  }

  .cervezas-cajas .cervezas-cajas__box1:hover{
      transform: none;
      background-color: $bcg-gris_hover;
  }

}

/*MEDIA para PC CERVEZAS*/
@media screen and (min-width: 990px){
  .cervezas-conteiner{
      padding: 2%;
  }

  .cervezas-cajas{
      padding: 0%;

      .cervezas-centrado{
          display: flex;
          justify-content: center;
      }

      .cervezas-cajas__box1{
          width: 90%;
          height: auto;
          margin: 2%;
      }
  }
}