// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
// Borde para probar
$border-rojo: solid 1px red;

*{
    background-color: #EFEAEA;
    margin: 0;
    padding: 0;
}

.header404{

    display: flex;

}