// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
// Borde para probar
$border-rojo: solid 1px red;

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    min-width: 400px;
}

.gris{
    background-color: $bcg-grisFondo;
}

.header404{
    background-color: $bcg-violeta;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header405{
    background-color: $bcg-amarillo;
    height: 50px;
}

.logo__h{
    text-align: center;
  }
.sub_h2{
  color: cadetblue;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 100%;

}

.e404{
    font-family: 'Poppins', sans-serif;
    font-weight: 150;
    color: $bcg-violeta;
    letter-spacing: 10px;
    font-size: 10rem;
    width: 100%;

    
    display: flex;
    justify-content: center;
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 5px;
    font-size: 1.88rem;
    color: $bcg-violeta;
    font-weight: 100;

}

.oops{
    color: $bcg-violeta;
    font-size: 50px;
}

.texto-oops{
    color: $bcg-violeta;
    font-size: 20px;
}

.oops-centrado{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}



/*Media para celular 404*/
@media screen and (max-width: 767px){
    .e404{
        font-size: 7rem;
    }
    .error{
        font-size: 1.3rem;
    }
    .oops{
        font-size: 40px;
        padding: 2px;
    }
}

/*Media para tablet 404*/
@media screen and (min-width: 768px) and (max-width: 990px){

}

/*Media para PC 404*/
@media screen and (min-width: 990px){

}