// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
// Borde para probar
$border-rojo: solid 1px red;

.carrusel{
    background-color: black;
}

.promosIndex{
  width: 2fr;
}
  

/*PRODUCTOS MAS LLEVADOS*/
.masLlevados{
color: $bcg-violeta;
font-family: 'Poppins', sans-serif;
text-align: center;
background-color: #EFEAEA;
}


.productosMasLlevados{
width: 100%;
padding: 0.938rem 1.25rem;

    /*Products mas llevados caracteristicas*/
    .caja1{
    background-color: #fff;
    border-radius: 30px;

    .img1{
        border-radius: 30px;
    }
    }
    .producto1I{
    font-weight: bold;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
    color: $bcg-violeta;
    }
    .promo-1I{
    font-family: 'Poppins', sans-serif;
    color: $bcg-violeta;
    }
}


/* Animaciones sobre los productos mas llevados */
.productosMasLlevados .caja1:hover{
transform: scale(1.1);
}

// SOMBRA A LAS CAJAS
.index-centrado{
    position: relative;
    z-index: 0;
}
.caja1::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 5px;
    background-color: $bcg-violeta;
    border-radius: 30px;
    filter: blur(10px);
    z-index: -1;
}




/*MEDIA para celular INDEX*/
@media screen and (max-width: 767px){
    .masLlevados{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3{
            margin-top: 2%;
        }
    }

    .productosMasLlevados{
        padding: 2%;
        max-width: 100%;

        .index-centrado{
            display: flex;
            justify-content: center;
        }
        .caja1{
            width: 70%;
            height: auto;
            margin: 2% 0%;
        }


    }

    .productosMasLlevados .caja1:hover{
        transform: none;
        background-color: $bcg-gris_hover;
    }

    // Aside
    .interesar{
        height: 42vh;
    }
}

/*MEDIA para tablet INDEX*/
@media screen and (min-width: 768px) and (max-width: 990px){
    .masLlevados{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3{
            margin-top: 5%;
        }
    }

    .productosMasLlevados{
        padding: 2%;
        max-width: 100%;

        .index-centrado{
            display: flex;
            justify-content: center;
        }
        .caja1{
            width: 85%;
            height: auto;
            margin: 5%;
        }
    }

    .productosMasLlevados .caja1:hover{
        transform: none;
        background-color: $bcg-gris_hover;
    }

    // Aside
    .interesar{
        height: 42vh;
    }

}

/*MEDIA para PC INDEX*/
@media screen and (min-width: 990px){
    .masLlevados{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3{
            margin-top: 1.5%;
        }
    }

    .productosMasLlevados{
        padding: 2%;
        max-width: 100%;
        margin-top: -2%;

        .index-centrado{
            display: flex;
            justify-content: center;
        }

        .caja1{
            width: 95%;
            height: auto;
            margin: 5%;
        }
    }
}


/*ASIDE*/
.interesar{
    color: $bcg-violeta;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: $bcg-grisFondo;
    padding: 0.938rem;

    aside{
        height: 100%;
    }
    
    .producto2IContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
    }
}
.producto2I{
    border: 1px solid $bcg-bordeAside;
    margin: 1%;
    height: 15%;
    padding: 4px;
    user-select: none;
}

/* Animaciones sobre te puede interesar */
.producto2I:hover{
    transform: translate(4px, 2px);
}



/*VALORACIONES*/
.valoraciones{
  color: $bcg-violeta;
  font-family: 'Poppins', sans-serif;
  grid-area: valoraciones;
  text-align: center;
  background-color: #fff;
  padding: 0.938rem;

  .valoraciones__caja1-Opinion:hover{
      transform: scale(1.1);

      .valoraciones__caja1-Opinion--opinion1{
          color: $bcg-violeta;
      }
  }
}

body{
    overflow-x: hidden;
}