// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
// Borde para probar
$border-rojo: solid 1px red;

/*Esto seria section superior o NAV INF*/

  

/*PRODUCTOS MAS LLEVADOS*/
.masLlevados{
color: $bcg-violeta;
font-family: 'Poppins', sans-serif;
text-align: center;
background-color: #EFEAEA;
padding: 0.938rem;
}

/*grid area de productos mas llevados*/
.productosMasLlevados{
width: 100%;
padding: 0.938rem 1.25rem;
}
    /*Products mas llevados caracteristicas*/
    .producto1I{
    font-weight: bold;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
    color: $bcg-violeta;
    }
    .promo-1I{
    grid-area: promo-1;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: $bcg-violeta;
    }
    .productosMasLlevados .caja1I{
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    }

  /* Animaciones sobre los productos mas llevados */
  .productosMasLlevados .caja1:hover{
    transform: scale(1.1);
  }


/*ASIDE*/
.interesar{
    color: $bcg-violeta;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: $bcg-grisFondo;
    padding: 0.938rem;
}
.producto2I{
    border: 1px solid $bcg-bordeAside;
    margin-top: 0.625rem;
    height: 7.61vh;
}

/* Animaciones sobre te puede interesar */
.producto2I:hover{
    transform: translate(4px, 2px);
}



/*VALORACIONES*/
.valoraciones{
  color: $bcg-violeta;
  font-family: 'Poppins', sans-serif;
  grid-area: valoraciones;
  text-align: center;
  background-color: #fff;
  padding: 0.938rem;

  .valoraciones__caja1-Opinion:hover{
      transform: scale(1.1);

      .valoraciones__caja1-Opinion--opinion1{
          color: $bcg-violeta;
      }
  }
}