// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
$bcg-gris_hover: #d8d8d8;
// Border para probar
$border-rojo: solid 1px red;

/* Estilos para seccion OFERTAS */
/*PRODUCTOS PARA OFERTAS*/
.ofertas-conteiner{
    color: #3F2B39;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #EFEAEA !important;

    h3 {
    display: flex;
    justify-content: flex-start;
    }
}
  
    // Cards de ofertas 
  .ofertas-cajas{
    margin-top: 1.5%;
    
    .ofertas-cajas__box1{
        background-color: #fff;
        border-radius: 30px;

        .img1{
            border-radius: 30px;
        }

        .producto1O{
            font-weight: bold;
            font-size: 130%;

            .offTachado{
                text-decoration: line-through;
            }
            .offColor{
                color: #EEB738;
            }
        }
        .oferta-1{
            color: $bcg-violeta;
        }
    }
}


/* animaciones */
.ofertas-cajas .ofertas-cajas__box1:hover{
transform: scale(1.1);
}

// SOMBRA A LAS CAJAS
.ofertas-centrado{
    position: relative;
    z-index: 0;
}
.ofertas-cajas__box1::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 10px;
    background-color: #3F2B39;
    border-radius: 30px;
    filter: blur(10px);
    z-index: -1;
}




/*Violeta en ofertas rarisimo lo que pasa*/
.violeta{
    background-color: $bcg-violeta !important;
    color: #fff !important;
  }
  
.violeta:hover{
background-color: #5c3e53 !important;
color: #fff;
}

/*Color blanco para item de ofertas que no me anda*/
#colorWhite{
    color: #fff;
}



/*MEDIA para celular OFERTAS*/
@media screen and (max-width: 767px){
  .ofertas-conteiner{
      max-width: 100%;
      padding: 2%;
  }

  .ofertas-cajas{
      padding: 2%;

      .ofertas-centrado{
          display: flex;
          justify-content: center;
      }

      .ofertas-cajas__box1{
          width: 60%;
          height: auto;
          margin: 2% 0%;
      }


  }

  .ofertas-cajas .ofertas-cajas__box1:hover{
      transform: none;
      background-color: $bcg-gris_hover;
  }

}

/*MEDIA para tablet OFERTAS*/
@media screen and (min-width: 768px) and (max-width: 990px){
  .ofertas-conteiner{
      max-width: 100%;
      padding: 2%;
  }

  .ofertas-cajas{
      padding: 0%;

      .ofertas-centrado{
          display: flex;
          justify-content: center;
      }

      .ofertas-cajas__box1{
          width: 85%;
          height: auto;
          margin: 5%;
      }
  }

  .ofertas-cajas .ofertas-cajas__box1:hover{
      transform: none;
      background-color: $bcg-gris_hover;
  }

}

/*MEDIA para PC OFERTAS*/
@media screen and (min-width: 990px){
  .ofertas-conteiner{
      padding: 2%;
  }

  .ofertas-cajas{
      padding: 0%;

      .ofertas-centrado{
          display: flex;
          justify-content: center;
      }

      .ofertas-cajas__box1{
          width: 90%;
          height: auto;
          margin: 2%;
      }
  }
}