// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
$bcg-gris_hover: #d8d8d8;
// Border para probar
$border-rojo: solid 1px red;


.otros-conteiner{
    color: $bcg-violeta;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: $bcg-grisFondo;


    h3{
        display: flex;
        justify-content: flex-start;
    }
}

.otros-cajas{
    
    .otros-cajas__box1{
        background-color: #fff;

        .otros-cajas__box1--producto1O{
            font-weight: bold;
            font-size: 130%;
        }

        .otros-cajas__box1--promo-1{
            color: $bcg-violeta;
        }
    }
}


/* ANIMACIONES sobre Vodkas */
.otros-cajas .otros-cajas__box1:hover{
transform: scale(1.1);
}

/*MEDIA para celular OTROS*/
@media screen and (max-width: 767px){
    .otros-conteiner{
        max-width: 100%;
        padding: 2%;
    }

    .otros-cajas{
        padding: 2%;

        .otros-centrado{
            display: flex;
            justify-content: center;
        }

        .otros-cajas__box1{
            width: 60%;
            height: auto;
            margin: 2% 0%;
        }


    }

    .otros-cajas .otros-cajas__box1:hover{
        transform: none;
        background-color: $bcg-gris_hover;
    }

}

/*MEDIA para tablet OTROS*/
@media screen and (min-width: 768px) and (max-width: 990px){
    .otros-conteiner{
        max-width: 100%;
        padding: 2%;
    }

    .otros-cajas{
        padding: 0%;

        .otros-centrado{
            display: flex;
            justify-content: center;
        }

        .otros-cajas__box1{
            width: 85%;
            height: auto;
            margin: 5%;
        }
    }

    .otros-cajas .otros-cajas__box1:hover{
        transform: none;
        background-color: $bcg-gris_hover;
    }

}

/*MEDIA para PC OTROS*/
@media screen and (min-width: 990px){
    .otros-conteiner{
        padding: 2%;
    }

    .otros-cajas{
        padding: 0%;

        .otros-centrado{
            display: flex;
            justify-content: center;
        }

        .otros-cajas__box1{
            width: 90%;
            height: auto;
            margin: 2%;
        }
    }
}