// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
$bcg-gris_hover: #d8d8d8;
// Border para probar
$border-rojo: solid 1px red;

/*Estilos para PACKS*/
.menuConteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 15px;

    .menuConteiner__links{
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 130%;
        line-height: 35px;
        text-align: center;
        list-style-type: none;
        list-style-position: inside;
        text-decoration: none;
        margin-right: 30px;
    }
}


// Section principal
.packs-conteiner{
    color:$bcg-violeta;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color:$bcg-grisFondo;

    h3{
        display: flex;
        justify-content: flex-start;
    }
  }
  


.packs-cajas{
  .packs-cajas__box1{
    background-color: #fff;
    border-radius: 30px;

    .img1{
        border-radius: 30px;
    }

    .packs-cajas__box1--producto1P{
        font-weight: bold;
        font-size: 130%;
    }

    .packs-cajas__box1--promo-1{
        color: $bcg-violeta;
    }
  }  
}

/*ANIMACIONES para PACKS*/
.packs-cajas{ 
    .packs-cajas__box1:hover{
        transform: scale(1.1);
    }
}

// SOMBRA A LAS CAJAS
.packs-centrado{
    position: relative;
    z-index: 0;
}
.packs-cajas__box1::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 10px;
    background-color: #3F2B39;
    border-radius: 30px;
    filter: blur(10px);
    z-index: -1;
}




// FOOTER de packs
.redes {
    text-align: center;
    background-color: $bcg-violeta;
    padding: 15px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
  
    .redes__instagram{
      color: #D72C75;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      padding: 5px;
    }
  
    .redes__facebook{
      color: blue;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      padding: 5px;
    }
  
    .redes__whatsapp{
      color: #29a329;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      padding: 5px;
    }
}





/*MEDIA para celular PACKS*/
@media screen and (max-width: 767px){
  .packs-conteiner{
      max-width: 100%;
      padding: 2%;
  }

  .packs-cajas{
      padding: 2%;

      .packs-centrado{
          display: flex;
          justify-content: center;
      }

      .packs-cajas__box1{
          width: 60%;
          height: auto;
          margin: 2% 0%;
      }


  }

  .packs-cajas .packs-cajas__box1:hover{
      transform: none;
      background-color: $bcg-gris_hover;
  }

}

/*MEDIA para tablet PACKS*/
@media screen and (min-width: 768px) and (max-width: 990px){
  .packs-conteiner{
      max-width: 100%;
      padding: 2%;
  }

  .packs-cajas{
      padding: 0%;

      .packs-centrado{
          display: flex;
          justify-content: center;
      }

      .packs-cajas__box1{
          width: 70%;
          height: auto;
          margin: 5%;
      }
  }

  .packs-cajas .packs-cajas__box1:hover{
      transform: none;
      background-color: $bcg-gris_hover;
  }

}

/*MEDIA para PC PACKS*/
@media screen and (min-width: 990px){
  .packs-conteiner{
      padding: 2%;
  }

  .packs-cajas{
      padding: 0%;

      .packs-centrado{
          display: flex;
          justify-content: center;
      }

      .packs-cajas__box1{
          width: 75%;
          height: auto;
          margin: 2%;
      }
  }
}