/* estilos para pagina SIN ALCOHOL */
$bcg-violeta: #3F2B39;


.h1-sin_alcohol{
    background-color: $bcg-violeta;
}

.sin_alcohol-conteiner{
    color: #3F2B39;
    font-family: 'Poppins', sans-serif;
    grid-area: masLlevados;
    text-align: center;
    background-color: #EFEAEA;
    padding: 15px;

    display: flex;
    flex-direction: row;

    h3{
    display: flex;
    justify-content: flex-start;
    }
}

.sin_alcohol-cajas{
    margin-top: 20px;
    margin-bottom: 20px;
    
    .sin_alcohol-cajas__box1{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .sin_alcohol-cajas__box1--producto1Sin{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .sin_alcohol-cajas__box1--promo-1{
            color: $bcg-violeta;
        }
    }

    .sin_alcohol-cajas__box2{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .sin_alcohol-cajas__box2--producto2Sin{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .sin_alcohol-cajas__box2--promo-2{
            color: $bcg-violeta;
        }
    }

    .sin_alcohol-cajas__box3{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .sin_alcohol-cajas__box3--producto3Sin{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .sin_alcohol-cajas__box3--promo-3{
            color: $bcg-violeta;
        }
    }

    .sin_alcohol-cajas__box4{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .sin_alcohol-cajas__box4--producto4Sin{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .sin_alcohol-cajas__box4--promo-4{
            color: $bcg-violeta;
        }
    }
}


/* ANIMACIONES sobre VINOS */
.sin_alcohol-cajas .sin_alcohol-cajas__box1:hover{
transform: scale(1.1);
}
.sin_alcohol-cajas .sin_alcohol-cajas__box2:hover{
    transform: scale(1.1);
}
.sin_alcohol-cajas .sin_alcohol-cajas__box3:hover{
    transform: scale(1.1);
}
.sin_alcohol-cajas .sin_alcohol-cajas__box4:hover{
    transform: scale(1.1);
}











