// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
// Border para probar
$border-rojo: solid 1px red;

.h1-vodkas{
    background-color: $bcg-violeta;
}

.vodkas-conteiner{
    color: $bcg-violeta;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: $bcg-grisFondo;


    h3{
        display: flex;
        justify-content: flex-start;
    }
}

.vodkas-cajas{
    
    .vodkas-cajas__box1{
        background-color: #fff;

        .vodkas-cajas__box1--producto1Vod{
            font-weight: bold;
            font-size: 130%;
        }

        .vodkas-cajas__box1--promo-1{
            color: $bcg-violeta;
        }
    }
}


/* ANIMACIONES sobre Vodkas */
.vodkas-cajas .vodkas-cajas__box1:hover{
transform: scale(1.1);
}


/*MEDIA para celular VODKAS*/
@media screen and (max-width: 767px){
    .vodkas-conteiner{
        max-width: 100%;
        padding: 2%;
    }

    .vodkas-cajas{
        padding: 2%;

        .vodka-centrado{
            display: flex;
            justify-content: center;
        }

        .vodkas-cajas__box1{
            width: 60%;
            height: auto;
            margin: 2% 0%;
        }


    }

}

/*MEDIA para tablet VODKAS*/
@media screen and (min-width: 768px) and (max-width: 990px){
    .vodkas-conteiner{
        max-width: 100%;
        padding: 2%;
    }

    .vodkas-cajas{
        padding: 0%;

        .vodka-centrado{
            display: flex;
            justify-content: center;
        }

        .vodkas-cajas__box1{
            width: 85%;
            height: auto;
            margin: 5%;
        }


    }

}

/*MEDIA para PC VODKAS*/
@media screen and (min-width: 990px){
    .vodkas-conteiner{
        padding: 2%;
    }

    .vodkas-cajas{
        padding: 0%;

        .vodka-centrado{
            display: flex;
            justify-content: center;
        }

        .vodkas-cajas__box1{
            width: 90%;
            height: auto;
            margin: 2%;
        }


    }

}