// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;
$bcg-bordeAside: rgb(213, 208, 214);
$bcg-amarillo: #EEB738;
$bcg-gris_hover: #d8d8d8;
// Border para probar
$border-rojo: solid 1px red;

.h1-grande{
    font-size: 200%;
}

.mapa{
    max-width: 100%;
    overflow-x: hidden;
    background-color: $bcg-grisFondo;
}

  