/*Estilos para PACKS*/
.menuConteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 15px; }
  .menuConteiner .menuConteiner__links {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 130%;
    line-height: 35px;
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
    margin-right: 30px; }

.packs-conteiner {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }
  .packs-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.packs-cajas .packs-cajas__box1 {
  background-color: #fff; }
  .packs-cajas .packs-cajas__box1 .packs-cajas__box1--producto1P {
    font-weight: bold;
    font-size: 130%; }
  .packs-cajas .packs-cajas__box1 .packs-cajas__box1--promo-1 {
    color: #3F2B39; }

/*ANIMACIONES para PACKS*/
.packs-cajas .packs-cajas__box1:hover {
  transform: scale(1.1); }

.redes {
  text-align: center;
  background-color: #3F2B39;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .redes .redes__instagram {
    color: #D72C75;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px; }
  .redes .redes__facebook {
    color: blue;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px; }
  .redes .redes__whatsapp {
    color: #29a329;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px; }

/*MEDIA para celular PACKS*/
@media screen and (max-width: 767px) {
  .packs-conteiner {
    max-width: 100%;
    padding: 2%; }
  .packs-cajas {
    padding: 2%; }
    .packs-cajas .packs-centrado {
      display: flex;
      justify-content: center; }
    .packs-cajas .packs-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .packs-cajas .packs-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet PACKS*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .packs-conteiner {
    max-width: 100%;
    padding: 2%; }
  .packs-cajas {
    padding: 0%; }
    .packs-cajas .packs-centrado {
      display: flex;
      justify-content: center; }
    .packs-cajas .packs-cajas__box1 {
      width: 70%;
      height: auto;
      margin: 5%; }
  .packs-cajas .packs-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC PACKS*/
@media screen and (min-width: 990px) {
  .packs-conteiner {
    padding: 2%; }
  .packs-cajas {
    padding: 0%; }
    .packs-cajas .packs-centrado {
      display: flex;
      justify-content: center; }
    .packs-cajas .packs-cajas__box1 {
      width: 75%;
      height: auto;
      margin: 2%; } }

/* Estilos para seccion OFERTAS */
/*PRODUCTOS PARA OFERTAS*/
.ofertas-conteiner {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA !important; }
  .ofertas-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.ofertas-cajas .ofertas-cajas__box1 {
  background-color: #fff; }
  .ofertas-cajas .ofertas-cajas__box1 .producto1O {
    font-weight: bold;
    font-size: 130%; }
    .ofertas-cajas .ofertas-cajas__box1 .producto1O .offTachado {
      text-decoration: line-through; }
    .ofertas-cajas .ofertas-cajas__box1 .producto1O .offColor {
      color: #EEB738; }
  .ofertas-cajas .ofertas-cajas__box1 .oferta-1 {
    color: #3F2B39; }

/* animaciones */
.ofertas-cajas .ofertas-cajas__box1:hover {
  transform: scale(1.1); }

/*Violeta en ofertas rarisimo lo que pasa*/
.violeta {
  background-color: #3F2B39 !important;
  color: #fff !important; }

.violeta:hover {
  background-color: #5c3e53 !important;
  color: #fff; }

/*Color blanco para item de ofertas que no me anda*/
#colorWhite {
  color: #fff; }

/*MEDIA para celular OFERTAS*/
@media screen and (max-width: 767px) {
  .ofertas-conteiner {
    max-width: 100%;
    padding: 2%; }
  .ofertas-cajas {
    padding: 2%; }
    .ofertas-cajas .ofertas-centrado {
      display: flex;
      justify-content: center; }
    .ofertas-cajas .ofertas-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .ofertas-cajas .ofertas-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet OFERTAS*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .ofertas-conteiner {
    max-width: 100%;
    padding: 2%; }
  .ofertas-cajas {
    padding: 0%; }
    .ofertas-cajas .ofertas-centrado {
      display: flex;
      justify-content: center; }
    .ofertas-cajas .ofertas-cajas__box1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .ofertas-cajas .ofertas-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC OFERTAS*/
@media screen and (min-width: 990px) {
  .ofertas-conteiner {
    padding: 2%; }
  .ofertas-cajas {
    padding: 0%; }
    .ofertas-cajas .ofertas-centrado {
      display: flex;
      justify-content: center; }
    .ofertas-cajas .ofertas-cajas__box1 {
      width: 90%;
      height: auto;
      margin: 2%; } }

/* estilos para pagina CERVEZA */
.cervezas-conteiner {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }
  .cervezas-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.cervezas-cajas .cervezas-cajas__box1 {
  background-color: #fff; }
  .cervezas-cajas .cervezas-cajas__box1 .cervezas-cajas__box1--producto1C {
    font-weight: bold;
    font-size: 130%; }
  .cervezas-cajas .cervezas-cajas__box1 .cervezas-cajas__box1--promo-1 {
    color: #3F2B39; }

/* ANIMACIONES SOBRE CERVEZA */
.cervezas-cajas .cervezas-cajas__box1:hover {
  transform: scale(1.1); }

/*MEDIA para celular CERVEZAS*/
@media screen and (max-width: 767px) {
  .cervezas-conteiner {
    max-width: 100%;
    padding: 2%; }
  .cervezas-cajas {
    padding: 2%; }
    .cervezas-cajas .cervezas-centrado {
      display: flex;
      justify-content: center; }
    .cervezas-cajas .cervezas-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .cervezas-cajas .cervezas-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet CERVEZAS*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .cervezas-conteiner {
    max-width: 100%;
    padding: 2%; }
  .cervezas-cajas {
    padding: 0%; }
    .cervezas-cajas .cervezas-centrado {
      display: flex;
      justify-content: center; }
    .cervezas-cajas .cervezas-cajas__box1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .cervezas-cajas .cervezas-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC CERVEZAS*/
@media screen and (min-width: 990px) {
  .cervezas-conteiner {
    padding: 2%; }
  .cervezas-cajas {
    padding: 0%; }
    .cervezas-cajas .cervezas-centrado {
      display: flex;
      justify-content: center; }
    .cervezas-cajas .cervezas-cajas__box1 {
      width: 90%;
      height: auto;
      margin: 2%; } }

/* estilos para pagina VINOS */
.vinos-conteiner {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }
  .vinos-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.vinos-cajas .vinos-cajas__box1 {
  background-color: #fff; }
  .vinos-cajas .vinos-cajas__box1 .vinos-cajas__box1--producto1V {
    font-weight: bold;
    font-size: 130%; }
  .vinos-cajas .vinos-cajas__box1 .vinos-cajas__box1--promo-1 {
    color: #3F2B39; }

/* ANIMACIONES sobre VINOS */
.vinos-cajas .vinos-cajas__box1:hover {
  transform: scale(1.1); }

/*MEDIA para celular VINOS*/
@media screen and (max-width: 767px) {
  .vinos-conteiner {
    max-width: 100%;
    padding: 2%; }
  .vinos-cajas {
    padding: 2%; }
    .vinos-cajas .vinos-centrado {
      display: flex;
      justify-content: center; }
    .vinos-cajas .vinos-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .vinos-cajas .vinos-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet VINOS*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .vinos-conteiner {
    max-width: 100%;
    padding: 2%; }
  .vinos-cajas {
    padding: 0%; }
    .vinos-cajas .vinos-centrado {
      display: flex;
      justify-content: center; }
    .vinos-cajas .vinos-cajas__box1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .vinos-cajas .vinos-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC VINOS*/
@media screen and (min-width: 990px) {
  .vinos-conteiner {
    padding: 2%; }
  .vinos-cajas {
    padding: 0%; }
    .vinos-cajas .vinos-centrado {
      display: flex;
      justify-content: center; }
    .vinos-cajas .vinos-cajas__box1 {
      width: 90%;
      height: auto;
      margin: 2%; } }

.vodkas-conteiner {
  color: #3F2B39;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }
  .vodkas-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.vodkas-cajas .vodkas-cajas__box1 {
  background-color: #fff; }
  .vodkas-cajas .vodkas-cajas__box1 .vodkas-cajas__box1--producto1Vod {
    font-weight: bold;
    font-size: 130%; }
  .vodkas-cajas .vodkas-cajas__box1 .vodkas-cajas__box1--promo-1 {
    color: #3F2B39; }

/* ANIMACIONES sobre Vodkas */
.vodkas-cajas .vodkas-cajas__box1:hover {
  transform: scale(1.1); }

/*MEDIA para celular VODKAS*/
@media screen and (max-width: 767px) {
  .vodkas-conteiner {
    max-width: 100%;
    padding: 2%; }
  .vodkas-cajas {
    padding: 2%; }
    .vodkas-cajas .vodka-centrado {
      display: flex;
      justify-content: center; }
    .vodkas-cajas .vodkas-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .vodkas-cajas .vodkas-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet VODKAS*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .vodkas-conteiner {
    max-width: 100%;
    padding: 2%; }
  .vodkas-cajas {
    padding: 0%; }
    .vodkas-cajas .vodka-centrado {
      display: flex;
      justify-content: center; }
    .vodkas-cajas .vodkas-cajas__box1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .vodkas-cajas .vodkas-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC VODKAS*/
@media screen and (min-width: 990px) {
  .vodkas-conteiner {
    padding: 2%; }
  .vodkas-cajas {
    padding: 0%; }
    .vodkas-cajas .vodka-centrado {
      display: flex;
      justify-content: center; }
    .vodkas-cajas .vodkas-cajas__box1 {
      width: 90%;
      height: auto;
      margin: 2%; } }

.sin_alcohol-conteiner {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }
  .sin_alcohol-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.sin_alcohol-cajas .sin_alcohol-cajas__box1 {
  background-color: #fff; }
  .sin_alcohol-cajas .sin_alcohol-cajas__box1 .sin_alcohol-cajas__box1--producto1Sin {
    font-weight: bold;
    font-size: 130%; }
  .sin_alcohol-cajas .sin_alcohol-cajas__box1 .sin_alcohol-cajas__box1--promo-1 {
    color: #3F2B39; }

/* ANIMACIONES sobre SIN ALCOHOL */
.sin_alcohol-cajas .sin_alcohol-cajas__box1:hover {
  transform: scale(1.1); }

/*MEDIA para celular SIN ALCOHOL*/
@media screen and (max-width: 767px) {
  .sin_alcohol-conteiner {
    max-width: 100%;
    padding: 2%; }
  .sin_alcohol-cajas {
    padding: 2%; }
    .sin_alcohol-cajas .sin_alcohol-centrado {
      display: flex;
      justify-content: center; }
    .sin_alcohol-cajas .sin_alcohol-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .sin_alcohol-cajas .sin_alcohol-cajas__box1:hover {
    transform: none; } }

/*MEDIA para tablet SIN ALCOHOL*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .sin_alcohol-conteiner {
    max-width: 100%;
    padding: 2%; }
  .sin_alcohol-cajas {
    padding: 0%; }
    .sin_alcohol-cajas .sin_alcohol-centrado {
      display: flex;
      justify-content: center; }
    .sin_alcohol-cajas .sin_alcohol-cajas__box1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .sin_alcohol-cajas .sin_alcohol-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC SIN ALCOHOL*/
@media screen and (min-width: 990px) {
  .sin_alcohol-conteiner {
    padding: 2%; }
  .sin_alcohol-cajas {
    padding: 0%; }
    .sin_alcohol-cajas .sin_alcohol-centrado {
      display: flex;
      justify-content: center; }
    .sin_alcohol-cajas .sin_alcohol-cajas__box1 {
      width: 90%;
      height: auto;
      margin: 2%; } }

.h1-grande {
  font-size: 200%; }

.mapa {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #EFEAEA; }

.formulario {
  background-color: #EFEAEA; }

.carrusel {
  width: 100%;
  background-color: black; }

.promosIndex {
  width: 2fr; }

/*PRODUCTOS MAS LLEVADOS*/
.masLlevados {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }

.productosMasLlevados {
  width: 100%;
  padding: 0.938rem 1.25rem;
  /*Products mas llevados caracteristicas*/ }
  .productosMasLlevados .caja1 {
    background-color: #fff; }
  .productosMasLlevados .producto1I {
    font-weight: bold;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
    color: #3F2B39; }
  .productosMasLlevados .promo-1I {
    font-family: 'Poppins', sans-serif;
    color: #3F2B39; }

/* Animaciones sobre los productos mas llevados */
.productosMasLlevados .caja1:hover {
  transform: scale(1.1); }

/*MEDIA para celular INDEX*/
@media screen and (max-width: 767px) {
  .masLlevados {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masLlevados h3 {
      margin-top: 2%; }
  .productosMasLlevados {
    padding: 2%;
    max-width: 100%; }
    .productosMasLlevados .index-centrado {
      display: flex;
      justify-content: center; }
    .productosMasLlevados .caja1 {
      width: 70%;
      height: auto;
      margin: 2% 0%; }
  .productosMasLlevados .caja1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet INDEX*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .masLlevados {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masLlevados h3 {
      margin-top: 5%; }
  .productosMasLlevados {
    padding: 2%;
    max-width: 100%; }
    .productosMasLlevados .index-centrado {
      display: flex;
      justify-content: center; }
    .productosMasLlevados .caja1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .productosMasLlevados .caja1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC INDEX*/
@media screen and (min-width: 990px) {
  .masLlevados {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masLlevados h3 {
      margin-top: 1.5%; }
  .productosMasLlevados {
    padding: 2%;
    max-width: 100%;
    margin-top: -2%; }
    .productosMasLlevados .index-centrado {
      display: flex;
      justify-content: center; }
    .productosMasLlevados .caja1 {
      width: 95%;
      height: auto;
      margin: 5%; } }

/*ASIDE*/
.interesar {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA;
  padding: 0.938rem; }

.producto2I {
  border: 1px solid #d5d0d6;
  margin-top: 0.625rem;
  height: 7.61vh; }

/* Animaciones sobre te puede interesar */
.producto2I:hover {
  transform: translate(4px, 2px); }

/*VALORACIONES*/
.valoraciones {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  grid-area: valoraciones;
  text-align: center;
  background-color: #fff;
  padding: 0.938rem; }
  .valoraciones .valoraciones__caja1-Opinion:hover {
    transform: scale(1.1); }
    .valoraciones .valoraciones__caja1-Opinion:hover .valoraciones__caja1-Opinion--opinion1 {
      color: #3F2B39; }

.otros-conteiner {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }
  .otros-conteiner h3 {
    display: flex;
    justify-content: flex-start; }

.otros-cajas .otros-cajas__box1 {
  background-color: #fff; }
  .otros-cajas .otros-cajas__box1 .otros-cajas__box1--producto1O {
    font-weight: bold;
    font-size: 130%; }
  .otros-cajas .otros-cajas__box1 .otros-cajas__box1--promo-1 {
    color: #3F2B39; }

/* ANIMACIONES sobre Vodkas */
.otros-cajas .otros-cajas__box1:hover {
  transform: scale(1.1); }

/*MEDIA para celular OTROS*/
@media screen and (max-width: 767px) {
  .otros-conteiner {
    max-width: 100%;
    padding: 2%; }
  .otros-cajas {
    padding: 2%; }
    .otros-cajas .otros-centrado {
      display: flex;
      justify-content: center; }
    .otros-cajas .otros-cajas__box1 {
      width: 60%;
      height: auto;
      margin: 2% 0%; }
  .otros-cajas .otros-cajas__box1:hover {
    transform: none; } }

/*MEDIA para tablet OTROS*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .otros-conteiner {
    max-width: 100%;
    padding: 2%; }
  .otros-cajas {
    padding: 0%; }
    .otros-cajas .otros-centrado {
      display: flex;
      justify-content: center; }
    .otros-cajas .otros-cajas__box1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .otros-cajas .otros-cajas__box1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC OTROS*/
@media screen and (min-width: 990px) {
  .otros-conteiner {
    padding: 2%; }
  .otros-cajas {
    padding: 0%; }
    .otros-cajas .otros-centrado {
      display: flex;
      justify-content: center; }
    .otros-cajas .otros-cajas__box1 {
      width: 90%;
      height: auto;
      margin: 2%; } }

.carrusel {
  width: 100%;
  background-color: black; }

.promosIndex {
  width: 2fr; }

/*PRODUCTOS MAS LLEVADOS*/
.masLlevados {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA; }

.productosMasLlevados {
  width: 100%;
  padding: 0.938rem 1.25rem;
  /*Products mas llevados caracteristicas*/ }
  .productosMasLlevados .caja1 {
    background-color: #fff; }
  .productosMasLlevados .producto1I {
    font-weight: bold;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
    color: #3F2B39; }
  .productosMasLlevados .promo-1I {
    font-family: 'Poppins', sans-serif;
    color: #3F2B39; }

/* Animaciones sobre los productos mas llevados */
.productosMasLlevados .caja1:hover {
  transform: scale(1.1); }

/*MEDIA para celular INDEX*/
@media screen and (max-width: 767px) {
  .masLlevados {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masLlevados h3 {
      margin-top: 2%; }
  .productosMasLlevados {
    padding: 2%;
    max-width: 100%; }
    .productosMasLlevados .index-centrado {
      display: flex;
      justify-content: center; }
    .productosMasLlevados .caja1 {
      width: 70%;
      height: auto;
      margin: 2% 0%; }
  .productosMasLlevados .caja1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para tablet INDEX*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .masLlevados {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masLlevados h3 {
      margin-top: 5%; }
  .productosMasLlevados {
    padding: 2%;
    max-width: 100%; }
    .productosMasLlevados .index-centrado {
      display: flex;
      justify-content: center; }
    .productosMasLlevados .caja1 {
      width: 85%;
      height: auto;
      margin: 5%; }
  .productosMasLlevados .caja1:hover {
    transform: none;
    background-color: #d8d8d8; } }

/*MEDIA para PC INDEX*/
@media screen and (min-width: 990px) {
  .masLlevados {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masLlevados h3 {
      margin-top: 1.5%; }
  .productosMasLlevados {
    padding: 2%;
    max-width: 100%;
    margin-top: -2%; }
    .productosMasLlevados .index-centrado {
      display: flex;
      justify-content: center; }
    .productosMasLlevados .caja1 {
      width: 95%;
      height: auto;
      margin: 5%; } }

/*ASIDE*/
.interesar {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #EFEAEA;
  padding: 0.938rem; }

.producto2I {
  border: 1px solid #d5d0d6;
  margin-top: 0.625rem;
  height: 7.61vh; }

/* Animaciones sobre te puede interesar */
.producto2I:hover {
  transform: translate(4px, 2px); }

/*VALORACIONES*/
.valoraciones {
  color: #3F2B39;
  font-family: 'Poppins', sans-serif;
  grid-area: valoraciones;
  text-align: center;
  background-color: #fff;
  padding: 0.938rem; }
  .valoraciones .valoraciones__caja1-Opinion:hover {
    transform: scale(1.1); }
    .valoraciones .valoraciones__caja1-Opinion:hover .valoraciones__caja1-Opinion--opinion1 {
      color: #3F2B39; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.header404 {
  background-color: #3F2B39;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.header405 {
  background-color: #EEB738;
  height: 50px; }

.logo__h {
  text-align: center; }

.sub_h2 {
  color: cadetblue;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 100%; }

* {
  margin: 0;
  padding: 0; }

h1 {
  color: cadetblue;
  font-style: oblique;
  font-family: 'Poppins', sans-serif;
  display: inline; }

/*esto seria el HEADER*/
.logo {
  background-color: #3F2B39;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo .logo__h {
    text-align: center; }

.bcg {
  background-color: #3F2B39; }

.buscador {
  background-color: #3F2B39;
  display: flex;
  justify-content: center;
  align-items: center; }

#barraBuscadora {
  /*Barra buscadora*/
  border-radius: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  width: 50vw; }

/*BOTONES ingresar y registrate*/
.botones {
  background-color: #3F2B39;
  display: flex;
  justify-content: center;
  align-items: center; }

#ingresar {
  /*boton ingresar*/
  border-radius: 20px;
  width: 7.32vw;
  font-family: 'Poppins', sans-serif; }

#registrate {
  /*boton registrate*/
  border-radius: 20px;
  width: 7.32vw;
  font-family: 'Poppins', sans-serif; }

/*MENU*/
.menu {
  text-align: center;
  background-color: #3F2B39; }

.barraSuperior {
  /*Iconos del menu*/
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 130%;
  text-align: center;
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none; }

#parada {
  color: #EEB738; }

/*Esto seria section superior o NAV INF*/
.navInf {
  text-align: center;
  background-color: #EEB738; }
  .navInf .navInf__sectionSupItems {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid #9F0909;
    border-radius: 40px;
    padding: 5px 3.75rem;
    background-color: #C8C3C3;
    height: 5vh;
    width: 180px;
    display: flex;
    align-items: center;
    justify-items: center; }

.navInf__sectionSupItems:hover {
  color: white;
  background-color: #9F0909; }

/*esto seria el FOOTER*/
/*Cuadro inferior izq*/
.redes {
  text-align: center;
  background-color: #3F2B39;
  padding: 0.938rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .redes .redes__instagram {
    color: #D72C75; }
  .redes .redes__facebook {
    color: blue; }
  .redes .redes__whatsapp {
    color: #29a329; }

.redes__whatsapp {
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px; }

.redes__facebook {
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px; }

.redes__instagram {
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px; }

.instagram {
  width: 20px;
  height: 20px; }

/* Animaciones sobre iconos de REDES */
.instagram:hover {
  transform: rotateZ(-15deg); }

.facebook:hover {
  transform: rotateZ(-15deg); }

.whatsapp:hover {
  transform: rotateZ(-15deg); }

/*Cuadro Medio*/
.copyright {
  text-align: center;
  background-color: #3F2B39;
  padding: 0.938rem;
  color: #ffffff;
  word-spacing: 6px;
  line-height: 1.25rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.688rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .copyright .copyright__parrafoFooter {
    width: 36.60vw;
    height: 15.22vh;
    display: flex;
    align-items: center;
    justify-content: center; }

/*Cuadro inferior derecho*/
.paginaSegura {
  text-align: center;
  background-color: #3F2B39;
  padding: 0.938rem;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  /*FLEXBOX*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .paginaSegura .paginaSegura__check-logo {
    width: 100px;
    height: 100px; }
  .paginaSegura .paginaSegura__txt {
    font-size: 130%; }

.icono_menu {
  width: 25px;
  height: 25px; }

/*MEDIA QUERIES*/
@media screen and (max-width: 767px) {
  /*BOTONES ingresar y registrate*/
  .botones {
    padding: 0.5rem; }
  #ingresar {
    /*boton ingresar*/
    width: 20%; }
  #registrate {
    /*boton registrate*/
    width: 20%; }
  /*Esto seria section superior o NAV INF pero para NAVBAR CELULAR Y TABLET*/
  .sectionSupConteinerCell {
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap; }
  .sectionSupItemsCell {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid #9F0909;
    border-radius: 40px;
    background-color: #C8C3C3;
    height: 5vh;
    width: 40vw;
    margin: 5px;
    padding: 5px; }
  /*Cuadro Medio*/
  .copyright {
    line-height: 1.20rem;
    font-size: 0.6rem;
    width: 100%;
    height: auto; }
    .copyright .copyright__parrafoFooter {
      width: 31.25rem;
      height: auto; } }

/*Media queries para tablet*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  /*Esto seria section superior o NAV INF pero para NAVBAR CELULAR Y TABLET*/
  .sectionSupConteinerCell {
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap; }
  .sectionSupItemsCell {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid #9F0909;
    border-radius: 40px;
    background-color: #C8C3C3;
    height: 5vh;
    width: 40vw;
    margin: 5px;
    padding: 5px; } }

.fotitoCarru {
  height: 60.88vh; }

.violeta {
  background-color: #3F2B39;
  color: #fff; }

.violeta:hover {
  background-color: #5c3e53;
  color: #fff; }

.sub_h2 {
  color: cadetblue;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 100%; }

.barraSuperior:hover {
  color: #EEB738; }

#colorWhite:hover {
  color: #EEB738; }
