// Variables
$bcg-violeta: #3F2B39;

.h1-vinos{
    background-color: $bcg-violeta;
}

/* estilos para pagina VINOS */
.vinos-conteiner{
    color: #3F2B39;
    font-family: 'Poppins', sans-serif;
    grid-area: masLlevados;
    text-align: center;
    background-color: #EFEAEA;
    padding: 15px;

    display: flex;
    flex-direction: row;

    h3{
    display: flex;
    justify-content: flex-start;
  }
  }

.vinos-cajas{
    margin-top: 20px;
    margin-bottom: 20px;
    
    .vinos-cajas__box1{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .vinos-cajas__box1--producto1V{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .vinos-cajas__box1--promo-1{
            color: $bcg-violeta;
        }
    }

    .vinos-cajas__box2{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .vinos-cajas__box2--producto2V{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .vinos-cajas__box2--promo-2{
            color: $bcg-violeta;
        }
    }

    .vinos-cajas__box3{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .vinos-cajas__box3--producto3V{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .vinos-cajas__box3--promo-3{
            color: $bcg-violeta;
        }
    }

    .vinos-cajas__box4{
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;

        .vinos-cajas__box4--producto4V{
            grid-area: producto1V;
            font-weight: bold;
            font-size: 130%;
        }

        .vinos-cajas__box4--promo-4{
            color: $bcg-violeta;
        }
    }
}


/* ANIMACIONES sobre VINOS */
.vinos-cajas .vinos-cajas__box1:hover{
transform: scale(1.1);
}
.vinos-cajas .vinos-cajas__box2:hover{
    transform: scale(1.1);
}
.vinos-cajas .vinos-cajas__box3:hover{
    transform: scale(1.1);
}
.vinos-cajas .vinos-cajas__box4:hover{
    transform: scale(1.1);
}
