@import "_packs.scss";
@import "_ofertas";
@import "_cerveza";
@import "_vinos";
@import "_vodka";
@import "_sin_alcohol";
@import "_zonas_envio";
@import "_contacto";



// Variables
$bcg-violeta: #3F2B39;
$bcg-grisFondo: #EFEAEA;

*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(213, 208, 214); */
  }
  
  
    /*esto seria el HEADER*/
    .logo{
      text-align: center;
      background-color: $bcg-violeta;
    }
  
    .buscador{
      text-align: center;
      background-color: $bcg-violeta;
    }
  
    #barraBuscadora{ /*Barra buscadora*/
      border-radius: 15px;
      letter-spacing: 1px;
      word-spacing: 2px;
      width: 50vw;
      display: inline;
      margin: 30px;
    }
  
  
  

  /*BOTONES*/
  .botones{ 
    grid-area: botones;
    text-align: center;
    background-color: #3F2B39;
  }
  
  #ingresar{ /*boton ingresar*/
      border-radius: 20px;
      margin-top: 15px;
      margin-left: -30px;
      width: 100px;
      font-family: 'Poppins', sans-serif;
  }
  
  #registrate{ /*boton registrate*/
      border-radius: 20px;
      margin-top: 15px;
      margin-left: -30px;
      width: 100px;
      font-family: 'Poppins', sans-serif;
  }
  
  
  
  
    /*MENU*/
    .menu{
      text-align: center;
      background-color: #3F2B39;
    }
  
      #barraSupConteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-bottom: 15px;
      }
  
      .barraSuperior{ /*Iconos del menu*/
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight:bold;
        text-transform: uppercase;
        font-size: 130%;
        line-height: 35px;
        text-align: center;
        list-style-type: none;
        list-style-position: inside;
        text-decoration: none;
        margin-right: 30px;
      }
  
      
  

/*Esto seria section superior o NAV INF*/
.navInf{
  text-align: center;
  background-color: #EEB738;

  .navInf__sectionSupItems{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid #9F0909;
    border-radius: 40px;
    padding: 5px 60px;
    background-color: #C8C3C3;
    height: 5vh;
    width: 180px;

    display: flex;
    align-items: center;
    justify-items: center;
  }
}
  //animaciones
  .navInf__sectionSupItems:hover{
    color: rgb(255, 255, 255);
    background-color: #9F0909;
  }

    
  
  
  /*PRODUCTOS MAS LLEVADOS*/
    .masLlevados{
      color: #3F2B39;
      font-family: 'Poppins', sans-serif;
      grid-area: masLlevados;
      text-align: center;
      background-color: #EFEAEA;
      padding: 15px;
    }
  
    /*grid area de productos mas llevados*/
    .productosMasLlevados{
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-areas: 
      "img-1 img-2 img-3"
      "producto1I producto2I producto3I"
      "promo-1 promo-2 promo-3";
    }
        /*ASIGNO NOMBRES AL GRID AREA DE productos mas llevados y pongo algunas caracteristicas*/
        .img-1{
          grid-area: img-1;
        }
        .img-2{
          grid-area: img-2;
        }
        .img-3{
          grid-area: img-3;
        }
        .producto1I{
          grid-area: producto1I;
          font-weight: bold;
          font-size: 130%;
          font-family: 'Poppins', sans-serif;
          color: #3F2B39;
        }
        .producto2I{
          grid-area: producto2I;
          font-weight: bold;
          font-size: 130%;
        }
        .producto3I{
          grid-area: producto3I;
          font-weight: bold;
          font-size: 130%;
        }
        .promo-1{
          grid-area: promo-1;
          margin-bottom: 10px;
          font-family: 'Poppins', sans-serif;
          color: #3F2B39;
        }
        .promo-2{
          grid-area: promo-2;
          margin-bottom: 10px;
        }
        .promo-3{
          grid-area: promo-3;
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
        
        .productosMasLlevados .caja1{
          background-color: #fff;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 15px;
        }
        .productosMasLlevados .caja2{
          background-color: #fff;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 15px;
        }
        .productosMasLlevados .caja3{
          background-color: #fff;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 15px;
        }
  
  
  
  

      /*ASIDE*/
      .interesar{
        color: #3F2B39;
        font-family: 'Poppins', sans-serif;
        grid-area: interesar;
        text-align: center;
        background-color: #EFEAEA;
        padding: 15px;
      }
      .producto4I{
        border: 1px solid rgb(213, 208, 214);
        margin-top: 10px;
        height: 50px;
      }
      .producto5I{
        border: 1px solid rgb(213, 208, 214);
        margin-top: 10px;
        height: 50px;
      }
      .producto6I{
        border: 1px solid rgb(213, 208, 214);
        margin-top: 10px;
        height: 50px;
      }
      .producto7I{
        border: 1px solid rgb(208, 214, 209);
        margin-top: 10px;
        height: 50px;
      }
      .producto8I{
        border: 1px solid rgb(213, 208, 214);
        margin-top: 10px;
        height: 50px;
      }
  
  
  
  

  /*VALORACIONES*/

  .valoraciones{
    color: #3F2B39;
    font-family: 'Poppins', sans-serif;
    grid-area: valoraciones;
    text-align: center;
    background-color: #fff;
    padding: 15px;

    .valoraciones__caja1-Opinion:hover{
        transform: scale(1.1);
        background-color: #EFEAEA;

        .valoraciones__caja1-Opinion--opinion1{
            color: #3F2B39;
        }
    }
  }
    

/*esto seria el FOOTER*/
  
/*Cuadro inferior izq*/
.redes {
  text-align: center;
  background-color: #3F2B39;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;        

  .redes__instagram{
    color: #D72C75;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px;
  }

  .redes__facebook{
    color: blue;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px;
  }

  .redes__whatsapp{
    color: #29a329;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px;
  }

}
.instagram{
  width: 20px;
  height: 20px;
}


/*Cuadro Medio*/
.copyright{
  text-align: center;
  background-color: #3F2B39;
  padding: 15px;
  color: #ffffff;
  word-spacing: 6px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  .copyright__parrafoFooter{
    width: 500px;
    height: 100px;
    display: flex;
    align-items:center;  
  }
}
   
/*Cuadro inferior derecho*/
.paginaSegura{
  grid-area: paginaSegura;
  text-align: center;
  background-color: #3F2B39;
  padding: 15px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

  /*FLEXBOX*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .paginaSegura__check-logo{
    width: 100px;
    height: 100px;
  }

  .paginaSegura__txt{
    font-size: 130%;
  }
}  
  
  
      

  
  
  

  /*aca edito cosas particulares*/
  h1{
    color: cadetblue;
    font-style:oblique;
    font-family:'Poppins', sans-serif;
    display: inline;
  }
  
  
  




  /* ANIMACIONES */
  


  /* sobre los productos mas llevados */
  .productosMasLlevados .caja1:hover{
    transform: scale(1.1);
  }
  .productosMasLlevados .caja2:hover{
    transform: scale(1.1);
  }
  .productosMasLlevados .caja3:hover{
    transform: scale(1.1);
  }

  /* Sobre te puede interesar */
  .producto4I:hover{
    transform: translate(4px, 2px);
  }
  .producto5I:hover{
    transform: translate(4px, 2px);
  }
  .producto6I:hover{
    transform: translate(4px, 2px);
  }
  .producto7I:hover{
    transform: translate(4px, 2px);
  }
  .producto8I:hover{
    transform: translate(4px, 2px);
  }




  /* Sobre iconos de REDES */
  .instagram:hover{
    transform: rotateZ(-15deg);
  }
  .facebook:hover{
    transform: rotateZ(-15deg);
  }
  .whatsapp:hover{
    transform: rotateZ(-15deg);
  }

    



/* CSS para las Otras PAGS */
.titulos{
    background-color: rgb(245, 233, 61);
}

.headerPags{
    background-color:#3F2B39;
    height: 100px;
}

#barraSupConteinerPags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: -15px;
}










.footerPags{
  background-color:#3F2B39;
  height: 300px;

  /*FLEXBOX*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#imagenesLogo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
}
#instagram{
  color: #D72C75;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#facebook{
  color: blue;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#whatsapp{
  color: #29a329;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#parrafoFooter{
color: #ffffff;
word-spacing: 6px;
line-height: 20px;
font-family: 'Poppins', sans-serif;
font-size: 12px;
width: 500px;
height: 100px;
}

#check-logo{
width: 70px;
height: 70px;
} 

#paginaSegura{
color: #ffffff;
font-family: 'Poppins', sans-serif;
font-size: 12px;
height: 100px;

/*FLEXBOX*/
display: flex;
flex-direction: row;
}

#paginaSeguraTexto{
margin-left: 10px;
}

.volverAInicio{
color: #ffffff;
font-weight:lighter;
text-transform: uppercase;
}  
  
#parada{
  color: #EEB738;
 }


     

  @media screen and (max-width: 990px){
      /*Esto seria section superior o NAV INF pero para NAVBAR CELULAR Y TABLET*/
      .navInf{
        grid-area: navInf;
        text-align: center;
        background-color: #EEB738;
      }
    
      .sectionSupConteinerCell{
        text-align: center;
        padding: 8px;
    
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-content: center;
        flex-wrap: wrap;
      }
    
    .sectionSupItemsCell{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size:14px;
        list-style-type: none;
        text-decoration: none;
        border: 2px solid #9F0909;
        border-radius: 40px;
        background-color: #C8C3C3;
        height: 5vh;
        width: 40vw;
        margin: 5px;
        padding: 5px;
    }  
  }


  .fotitoCarru{
    height: 400px;
  }

  .violeta{
    background-color: #3F2B39;
    color: #fff;
  }
  
  .violeta:hover{
    background-color: #5c3e53;
    color: #fff;
  }

  
h6{
  color: cadetblue;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
