<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/error404.css">
    <link rel="stylesheet" href="../assets/css/estilos.css">

    <title>Error 404</title>
</head>
<body>
    
    <div class="conteiner404">
        <div class="loti">
            <iframe class="lotifile" src="https://lottiefiles.com/iframe/4958-404-not-found"></iframe>
        </div>
    </div>
</body>
</html>